body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    margin: 0;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
    animation: beat 1s infinite;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(182, 0, 0);
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
    top: 0;
}

@keyframes beat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.2) rotate(-45deg);
        background-color: lightpink;
    }
}
